.users-table thead th {
    padding: 3px 80px;
    border: solid grey 1px;
    text-align: center;
    font-family: 'Century Gothic';

}

.users-table thead td {
    padding: 3px 0px;
    border: solid grey 1px;
    text-align: center;
    font-weight: bold;
    font-family: 'Century Gothic';


}

.users-table tbody th {
    padding: 3px 30px;
    border: solid grey 1px;
    text-align: center;
    font-weight: lighter;
    font-family: 'Tahoma';

}

.users-table tbody td {
    padding: 3px 0px;
    border: solid grey 1px;
    text-align: center;
    font-family: 'Tahoma';

}